requests>=2,<3
fastapi[standard]>=0.115,<1
uvicorn>=0.24,<1
pydantic>=2,<3
pydantic-settings>=2,<3
boto3>=1.33,<2
urllib3<2
duckdb>=1,<2
psycopg2-binary>=2.9,<3
sqlalchemy>=2,<3
httpx>=0.25,<1
pytest>=7,<8
pytest-cov>=4,<5
pytest-env>=0.8,<1
pytest-asyncio>=0.21,<1
ruff>=0.1,<1
moto>=4,<5
pymongo>=4,<5
